/* Simple starter styles */
:root{
  --primary: #0d6efd;
  --bg: #ffffff;
  --text: #111827;
}

body{
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

main h1 strong{
  color: var(--primary);
}
